<div class="home-wrapper">
  <div class="film" *ngFor="let film of films">
    <div class="face face1">
      <div class="content">
        <i class="fab fa-windows"></i>
        <h3>{{film}}</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ab repudiandae, explicabo voluptate et hic
          cum ratione a.</p>
        <a href="#" type="button">Read More</a>
      </div>
    </div>
  </div>
</div>
